footer.footer
    .footer-upper
        .logo The Stacked Dev

        nav.footer-links
            a(href="/") Home
            a(href="/blogs") Blogs
            a(href="/about") About

        .footer-socials
            a.social-icon(href="#", aria-label="Twitter")
                img(src="/images/linkedn-icon.svg")
            a.social-icon(href="#", aria-label="Facebook")
                img(src="/images/logo-slack-svgrepo-com.svg")
            a.social-icon(href="#", aria-label="Instagram")
                img(src="/images/youtube-168-svgrepo-com.svg")

    .footer-separator
    .footer-lower
        p © 2025 Nigar Aliyeva. All rights reserved.
        nav.footer-legal
            a(href="/privacy") Privacy Policy