doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit Profile
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/edit-profile.css")
    link(rel="icon" href="/images/favicon.png" type="image/x-icon")
  body
    include partials/nav

    .edit-container
      h1 Edit Your Profile

      form(method="POST", action="/user/edit")
        label(for="username") Username
        input(type="text", name="username", id="username", value=user.username, required)

        label(for="email") Email
        input(type="email", name="email", id="email", value=user.email, required)

        label(for="password") New Password (leave blank to keep current)
        input(type="password", name="password", id="password", autocomplete="new-password")

        button(type="submit") Save Changes

    footer.footer
      .footer-lower
          p © 2025 Nigar Aliyeva. All rights reserved.
          nav.footer-legal
              a(href="/privacy") Privacy Policy
              a(href="/terms") Terms of Service
