doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel="icon" href="/images/favicon.png" type="image/x-icon")
    title The Stacked Dev
    
  body
    include partials/nav
    #initial-loader
      .loader-container
        .loader-circle
      
    section.home-section
      if !user
        h1 Unlock Your Computer Science Journey Today
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti unde harum illo velit quod totam aliquam sequi ea eveniet, et tenetur magnam veritatis officiis aperiam excepturi nisi? Tempore, fugit voluptatibus.
      else 
        h1 Hi, #{user.username} !
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum rerum fugit quae tempora dicta aliquam ipsam eius dolores aperiam dolor, dignissimos velit a iure inventore mollitia! Repellendus illum eius dolor!
      .home-buttons
        a.btn.btn-primary(href="/blogs") Explore

      #three-shapes.home-image

    section.blog-overview
      .intro-text
        h2 Latest Articles
        p Discover a selection of recent blog posts designed to boost your understanding of computer science and software engineering concepts.

      .articles
        each blog in blogs 
          article.blog-card
            h3=blog.title
            p
              if blog.content
                | !{blog.content.length > 130 ? blog.content.substring(0, 130) + '...' : blog.content}
              else
                | No content
            a.read-link(href=`/blogs/${blog._id}`) Read More →

      .learn-more-container
        a.btn.btn-primary(href="/blogs") Learn More
  
    section.newsletter-section
      .overlay
      .content
        h2 Thanks for Visiting!
        p We hope you enjoy reading the blog. More content is coming soon — stay tuned!


    include partials/footer

    .cursor-circle

    
    script(src="https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.min.js")
    script(src="/js/main.js")

